.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
README.html

/Cap_3
/Cap_non_used
/Cross_inspeciton
/Defesa
/Scripts


/References
grafico.R
*grafico.R

/Cap_1/Paper
/Cap_1/Figures
/Cap_1/Output
/Cap_1/Scripts/.Rhistory


/Cap_1/Scripts/inspection_model_2.xlsx
/Cap_1/Scripts/inspection_model_3.xlsx
/Cap_1/Scripts/inspection_model_4.xlsx
/Cap_1/Scripts/inspection_model_5.xlsx
/Cap_1/Scripts/inspection_model_6.xlsx
/Cap_1/Scripts/inspection_model_6 mn.xlsx
/Cap_1/Scripts/inspection_model_7.xlsx
/Cap_1/Scripts/inspection_model_8.xlsx
/Cap_1/Scripts/inspection_model_9.xlsx
/Cap_1/Scripts/inspection_model_10.xlsx
/Cap_1/Scripts/inspection_model_11.xlsx
/Cap_1/Scripts/inspection_model_11.xls
