.Rproj.user
.Rhistory
.RData
.Ruserdata
/Cap_3
/Cap_non_used
/Cross_inspeciton
/Cap_non_used/Cap_1/Scripts/inspection_model_2.xls
/Cap_1/Scripts/inspection_model_2.xls

/Cross_inspection
/Defesa
/Doutorado.Rproj
/References
grafico.R
*grafico.R

/Cap_1/Paper

/Cap_1/Scripts/inspection_model_2.xlsx
/Cap_1/Scripts/inspection_model_3.xlsx
/Cap_1/Scripts/inspection_model_4.xlsx
/Cap_1/Scripts/inspection_model_5.xlsx
/Cap_1/Scripts/inspection_model_6.xlsx
/Cap_1/Scripts/inspection_model_6 mn.xlsx
/Cap_1/Scripts/inspection_model_7.xlsx
/Cap_1/Scripts/inspection_model_8.xlsx
/Cap_1/Scripts/inspection_model_9.xlsx
/Cap_1/Scripts/inspection_model_10.xlsx
/Cap_1/Scripts/inspection_model_11.xlsx
/Cap_1/Scripts/inspection_model_11.xls


/Cap_1/Scripts/modelo carcaças4.R

